@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-slide {
  width: fit-content!important;
}

.gradient-bg {
  background: linear-gradient(90deg,
  #040404 0.00%,
  rgba(4,4,4,0.98 ) 20.63%,
  rgba(4,4,4,0 ) 100.00%);
}

.menu-gradient-bg {
  background: linear-gradient(to right,
  rgba(0, 0, 0, 1) 0%,
  rgba(0, 0, 0, 0.8) calc(100% - 10px),
  rgba(0, 0, 0, 0.6) 100%);
}

